streamlit==1.49.1
pandas==2.3.2
numpy==2.3.3
requests==2.31.0
python-dotenv==1.1.1
iolConn==0.4.2
plotly==6.3.0
kaleido==1.1.0
# Utilidades varias
cryptography==41.0.3
# Dependencias obligatorias para datos e indicadores técnicos
yfinance==0.2.65
ta==0.11.0
